body{
	background-color: var(--light-primary-color);
}

.rules-container{
	height: calc(100vh - 10vh);
	align-items: center;
	justify-content: center;
}

.rules{
	background-color: var(--dark-primary-color);
	height: 60rem;
	width: 70rem;
	border-radius: 1.5rem;
	padding: 2rem;
	color: var(--white-color);
}


.rules-heading{
	text-align: center;
}

.rules-container a{
	align-self: center;
}

button{
	outline: none;
}

button a{
	color: var(--white-color);
	text-decoration: none;
}

.rules button{
	margin-top: auto;
}