.list-inline-item a{
	color: unset;
	text-decoration: none;
}
body{
	background-color: var(--bg-color);
}

section{
	background-image: url('./Assets/Images/homeBackground.jpg');
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  position: relative;

}

button{
	outline: none;
}

button a{
	color: var(--white-color);
	text-decoration: none;
}

.banner-text{
	position: absolute;
	top: 16rem;
	left: 10rem;
	width: 43rem;
	color:var(--dark-secondary-text-color) ;
}

.banner-main p{
	margin-top:3rem ;
}

.banner-text button{
	align-self: center;
	margin-top: 4rem;
}

@media screen and (max-width:1024px){
	.nav-logo{
		display: block;
	}
}
